.parrafo{
    text-align: justify;
}
#email a{
    background: #0069d9;
}
#email p{
    font-size: 10px;
    padding-left: 6px;
}
#email a:hover{
    background: rgba(196, 54, 19, 0.865);
    transition: 0.3s;
}
td{
    text-align: center;
}
td:first-child{
    text-align: left;
}
#cuadro1{
    width: 100%;
    height: 400px;
    overflow-y: scroll;
}
#cuadro2{
    width: 100%;
    height: 385px;
    overflow-y: scroll;
}